<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%- locals.title %></title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/newAssets/dist/img/transparentLogo.png"
    />

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome Icons -->
    <link
      rel="stylesheet"
      href="/newAssets/plugins/fontawesome-free/css/all.min.css"
    />

    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/newAssets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="/newAssets/dist/css/adminlte.min.css" />
    <%- style %>
  </head>
  <body
    class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="wrapper">
      <!-- Preloader -->
      <%- include('partials/preloader') %>

      <!-- Navbar -->
      <%- include('partials/navbar') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('partials/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%- body %>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include('partials/footer') %>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="/newAssets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/newAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/newAssets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/newAssets/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="/newAssets/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/newAssets/plugins/raphael/raphael.min.js"></script>
    <script src="/newAssets/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/newAssets/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="/newAssets/plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="/newAssets/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/newAssets/dist/js/pages/dashboard2.js"></script>
    <!-- <script>
      const url = window.location;
      // for sidebar menu entirely but not cover treeview
      $("ul.nav-sidebar a")
        .filter(function () {
          if (this.href) {
            return this.href == url || url.href.indexOf(this.href) == 0;
          }
        })
        .addClass("active");
      // for the treeview
      $("ul.nav-treeview a")
        .filter(function () {
          if (this.href) {
            return this.href == url || url.href.indexOf(this.href) == 0;
          }
        })
        .parentsUntil(".nav-sidebar > .nav-treeview")
        .prev("a")
        .addClass("active");
    </script> -->
  </body>
</html>
