<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"
/>
<style>
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  a {
    margin-left: 10px;
  }
  .action {
    width: 120px;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>User List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">User List</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">User List</h3>
            <a href="/create" class="btn-sm btn-primary float-right"
              ><i class="fa fa-plus"></i> Add New User</a
            >
          </div>
          <% if(messages.success) { %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <%= messages.success %>
          </div>
          <% } %> <% if(messages.error) { %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <%= messages.error %>
          </div>
          <% } %>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Contact Number</th>
                  <th>User Role</th>
                  <th>Profile Image</th>
                  <th class="action">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if(typeof users !== 'undefined' && users.length > 0) { %> <%
                users.forEach(function (user) { %>
                <tr>
                  <td><%= user.full_name %></td>
                  <td><%= user.email%></td>
                  <td><%= user.phone %></td>
                  <td><%= user.role %></td>
                  <td>
                    <% if(user.profile_image){%>
                    <img
                      src="/images/profileImage/<%= user.profile_image %>"
                      width="70"
                      height="70"
                      alt="profile image"
                    />
                    <% } else{ %>
                    <img
                      src="/images/default-user-icon-3.jpg"
                      width="70"
                      height="70"
                      alt="profile image"
                    />
                    <%}%>
                  </td>
                  <td style="display: inline">
                    <a
                      href="/view/<%= user._id %>"
                      class="btn-sm btn-info"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="View User"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a
                      href="/edit/<%= user._id %>"
                      class="btn-sm btn-primary"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Edit User"
                      ><i class="fa fa-edit"></i
                    ></a>
                    <a
                      href="#"
                      value="delete/<%= user._id %>"
                      class="btn-sm btn-danger delete"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Delete User"
                    >
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <% }) %> <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<script src="/newAssets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/newAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/newAssets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/newAssets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/newAssets/plugins/jszip/jszip.min.js"></script>
<script src="/newAssets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/newAssets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/newAssets/dist/js/adminlte.min.js"></script>
<script src="/newAssets/js/user.delete.js"></script>

<script>
  $(function () {
    $("#example1")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        ordering: true,
        // buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: false,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>
