<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"
/>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">User Profile</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<% if(message.error) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= message.error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }%> <% if(message.success) {%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= message.success %>
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }%>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <% if(userProfile[0].profile_image){%>
              <img
                class="profile-user-img img-fluid img-circle"
                src="/images/profileImage/<%= userProfile[0].profile_image %>"
                alt="<%= userProfile[0].full_name %>"
              />
              <%}else{%>
              <img
                class="profile-user-img img-fluid img-circle"
                src="/images/User-icon-256-blue.png"
                alt="<%= userProfile[0].full_name %>"
              />
              <%}%>
            </div>

            <h3 class="profile-username text-center">
              <%= userProfile[0].full_name %>
            </h3>

            <p class="text-muted text-center"><%= userProfile[0].role %></p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Followers</b> <a class="float-right">1,322</a>
              </li>
              <li class="list-group-item">
                <b>Following</b> <a class="float-right">543</a>
              </li>
              <li class="list-group-item">
                <b>Friends</b> <a class="float-right">13,287</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About <%= userProfile[0].full_name %></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Email</strong>

            <p class="text-muted"><%= userProfile[0].email %></p>

            <hr />

            <strong
              ><i class="fas fa-map-marker-alt mr-1"></i> Contact Number</strong
            >

            <p class="text-muted"><%= userProfile[0].phone %></p>

            <hr />

            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

            <p class="text-muted">
              <span class="tag tag-danger">UI Design</span>
              <span class="tag tag-success">Coding</span>
              <span class="tag tag-info">Javascript</span>
              <span class="tag tag-warning">PHP</span>
              <span class="tag tag-primary">Node.js</span>
            </p>

            <hr />

            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
              fermentum enim neque.
            </p>
          </div>

          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#generatedby" data-toggle="tab"
                  >Generated Leads</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#assignedto" data-toggle="tab"
                  >Assigned Leads</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#settings" data-toggle="tab"
                  >Update Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#profileimage" data-toggle="tab"
                  >Update Profile Image
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#changepassword" data-toggle="tab"
                  >Change Password
                </a>
              </li>
            </ul>
          </div>

          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <!-- /.tab-pane -->
              <!-- /.tab-pane -->
              <div class="active tab-pane" id="generatedby">
                <div class="card-header border-transparent">
                  <h3 class="card-title">Generated Leads</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>Lead ID</th>
                        <th>Lead Description</th>
                        <th>Current Lead FollowUp</th>
                        <th>Status</th>
                        <th>Lead Budget</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(userProfile[0].generatedLeads !== "undefined") { %>
                      <% userProfile[0].generatedLeads.forEach(function(lead) {
                      %>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html"
                            ><%= lead.lead_id %></a
                          >
                        </td>
                        <td><%= (lead.description.slice(0,20))+'...' %></td>
                        <td><%= lead.lead_remark_followup %></td>
                        <td>
                          <% if(lead.lead_status === 'Active') { %>
                          <span class="badge badge-primary">Active</span> <% }
                          %> <% if(lead.lead_status === 'Follow-Up') { %>
                          <span class="badge badge-warning">Follow Up</span>
                          <% } %> <% if(lead.lead_status === 'In-Process') { %>
                          <span class="badge badge-info">In-Process</span> <% }
                          %> <% if(lead.lead_status === 'Completed') { %>
                          <span class="badge badge-success">Completed</span>
                          <% } %>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            <%= lead.lead_budget %>
                          </div>
                        </td>
                      </tr>
                      <% }) %> <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->

                <!-- /.card-footer -->
              </div>
              <div class="tab-pane" id="assignedto">
                <div class="card-header border-transparent">
                  <h3 class="card-title">Assigned Leads</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table
                    id="example2"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>Lead ID</th>
                        <th>Lead Description</th>
                        <th>Current Lead FollowUp</th>
                        <th>Status</th>
                        <th>Lead Budget</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(userProfile[0].assignedLeads !== "undefined") { %>
                      <% userProfile[0].assignedLeads.forEach(function(lead) {
                      %>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html"
                            ><%= lead.lead_id %></a
                          >
                        </td>
                        <td><%= (lead.description.slice(0,20))+'...' %></td>
                        <td><%= lead.lead_remark_followup %></td>
                        <td>
                          <% if(lead.lead_status === 'Active') { %>
                          <span class="badge badge-primary">Active</span> <% }
                          %> <% if(lead.lead_status === 'Follow-Up') { %>
                          <span class="badge badge-warning">Follow Up</span>
                          <% } %> <% if(lead.lead_status === 'In-Process') { %>
                          <span class="badge badge-info">In-Process</span> <% }
                          %> <% if(lead.lead_status === 'Completed') { %>
                          <span class="badge badge-success">Completed</span>
                          <% } %>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            <%= currencyFormat.indianFormat(lead.lead_budget) %>
                          </div>
                        </td>
                      </tr>
                      <% }) %> <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
              </div>
              <!----- Update Pfile image  -->
              <div class="tab-pane" id="settings">
                <form
                  action="/profile/<%= user._id %>"
                  method="post"
                  class="form-horizontal"
                >
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Name</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="inputName"
                        value="<%= user.full_name %>"
                        name="full_name"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label"
                      >Email</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail"
                        name="email"
                        value="<%= user.email %>"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label"
                      >Phone Number</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="inputName2"
                        value="<%= user.phone %>"
                        name="phone"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label"
                      >Role</label
                    >
                    <div class="col-sm-10">
                      <input
                        class="form-control"
                        id="inputExperience"
                        name="role"
                        value="<%= user.role %>"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <span style="color: red"
                        >Email and Role can not be change, So they are
                        disbaled.</span
                      >
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!----- Profile image update  -->
              <div class="tab-pane" id="profileimage">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="profile_image" class="col-sm-2 col-form-label"
                      >Profile Image</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="file"
                        class="form-control"
                        id="profile_image"
                        name="profile_image"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">
                        Update Profile Image
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!----- Change password  -->
              <div class="tab-pane" id="changepassword">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label"
                      >Old Password</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="oldpassword"
                        name="old_password"
                        placeholder="Old Password"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="newpassword" class="col-sm-2 col-form-label"
                      >New Password</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="New Password"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="profile_image" class="col-sm-2 col-form-label"
                      >Confirm New Password</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="confirmpassword"
                        name="confirm_password"
                        placeholder="Confirm New Password"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">
                        Update Password
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<script src="/newAssets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/newAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/newAssets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/newAssets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/newAssets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="/newAssets/dist/js/adminlte.min.js"></script>

<script>
  $(function () {
    $("#example1")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        // buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");
    $("#example2")
      .DataTable({
        paging: true,
        lengthChange: false,
        searching: true,
        ordering: true,
        info: true,
        autoWidth: false,
        responsive: true,
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");
  });
</script>
