<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">User Profile</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img
                class="profile-user-img img-fluid img-circle"
                src="/newAssets/dist/img/user4-128x128.jpg"
                alt="User profile picture"
              />
            </div>

            <h3 class="profile-username text-center">
              <%= userProfile[0].full_name %>
            </h3>

            <p class="text-muted text-center"><%= userProfile[0].role %></p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Completed Leads</b> <a class="float-right">1,322</a>
              </li>
              <li class="list-group-item">
                <b>Active Leads</b> <a class="float-right">543</a>
              </li>
              <li class="list-group-item">
                <b>In Process Leads</b> <a class="float-right">13,287</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"
              ><b>Update Profile Picture</b></a
            >
            <a href="#" class="btn btn-primary btn-block"
              ><b>Reset Or Change Password</b></a
            >
            <% if(user.role === "Super Admin" || user.role === "Admin" ) {%>
            <a href="/users" class="btn btn-danger btn-block"
              >Back to User List</a
            >
            <%}%>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About <%= userProfile[0].full_name %></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Email</strong>

            <p class="text-muted"><%= userProfile[0].email %></p>

            <hr />

            <strong
              ><i class="fas fa-map-marker-alt mr-1"></i> Contact Number</strong
            >

            <p class="text-muted"><%= userProfile[0].phone %></p>

            <hr />

            <strong><i class="fas fa-pencil-alt mr-1"></i>Skills</strong>

            <p class="text-muted">
              <span class="tag tag-danger">UI Design</span>
              <span class="tag tag-success">Coding</span>
              <span class="tag tag-info">Javascript</span>
              <span class="tag tag-warning">PHP</span>
              <span class="tag tag-primary">Node.js</span>
            </p>

            <hr />

            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
              fermentum enim neque.
            </p>
          </div>

          <!-- /.card-body -->
        </div>

        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#generatedby" data-toggle="tab"
                  >Generated Leads</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#assignedto" data-toggle="tab"
                  >Assigned Leads</a
                >
              </li>
            </ul>
          </div>

          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="generatedby">
                <div class="card-header border-transparent">
                  <h3 class="card-title">Generated Leads</h3>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>
                        <tr>
                          <th>Lead ID</th>
                          <th>Lead Description</th>
                          <th>Current Lead FollowUp</th>
                          <th>Status</th>
                          <th>Lead Budget</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(userProfile[0].generatedLeads.length > 0) { %> <%
                        userProfile[0].generatedLeads.forEach(function(lead) {
                        %>
                        <tr>
                          <td>
                            <a href="pages/examples/invoice.html"
                              ><%= lead.lead_id %></a
                            >
                          </td>
                          <td><%= lead.description %></td>
                          <td><%= lead.lead_remark_followup %></td>
                          <td>
                            <% switch(lead.lead_status) { case 'Active' : %>
                            <span class="badge badge-info"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'Follow-Up' : %>
                            <span class="badge badge-warning"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'In-Process' : %>
                            <span class="badge badge-primary"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'Completed' : %>
                            <span class="badge badge-success"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'Closed' : %>
                            <span class="badge badge-danger"
                              ><%= lead.lead_status %></span
                            >
                            <% break; } %>
                          </td>
                          <td>
                            <div
                              class="sparkbar"
                              data-color="#00a65a"
                              data-height="20"
                            >
                              <%= lead.lead_budget %>
                            </div>
                          </td>
                        </tr>
                        <% }) %> <% } %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-sm btn-info float-left"
                    >Place New Order</a
                  >
                  <a
                    href="javascript:void(0)"
                    class="btn btn-sm btn-secondary float-right"
                    >View All Orders</a
                  >
                </div>
                <!-- /.card-footer -->
              </div>
              <div class="tab-pane" id="assignedto">
                <div class="card-header border-transparent">
                  <h3 class="card-title">Assigned Leads</h3>

                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>
                        <tr>
                          <th>Lead ID</th>
                          <th>Lead Description</th>
                          <th>Current Lead FollowUp</th>
                          <th>Status</th>
                          <th>Lead Budget</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(userProfile[0].assignedLeads.length > 0) { %> <%
                        userProfile[0].assignedLeads.forEach(function(lead) { %>
                        <tr>
                          <td>
                            <a href="pages/examples/invoice.html"
                              ><%= lead.lead_id %></a
                            >
                          </td>
                          <td><%= lead.description %></td>
                          <td><%= lead.lead_remark_followup %></td>
                          <td>
                            <% switch(lead.lead_status) { case 'Active' : %>
                            <span class="badge badge-info"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'Follow-Up' : %>
                            <span class="badge badge-warning"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'In-Process' : %>
                            <span class="badge badge-primary"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'Completed' : %>
                            <span class="badge badge-success"
                              ><%= lead.lead_status %></span
                            >
                            <% break; case 'Closed' : %>
                            <span class="badge badge-danger"
                              ><%= lead.lead_status %></span
                            >
                            <% break; } %>
                          </td>
                          <td>
                            <div
                              class="sparkbar"
                              data-color="#00a65a"
                              data-height="20"
                            >
                              <%= lead.lead_budget %>
                            </div>
                          </td>
                        </tr>
                        <% }) %> <% } %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-sm btn-info float-left"
                    >Place New Order</a
                  >
                  <a
                    href="javascript:void(0)"
                    class="btn btn-sm btn-secondary float-right"
                    >View All Orders</a
                  >
                </div>
                <!-- /.card-footer -->
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
