<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<% if(locals.success_msg) { %>
<div class="alert alert-danger" role="alert"><%= success_msg %></div>
<% } %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"
            ><i class="fas fa-users"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Members</span>
            <span class="info-box-number"><%= allUsers %></span>
            <span>
              <a href="/users" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"
            ><i class="fas fa-shopping-cart"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Total Leads</span>
            <span class="info-box-number"><%= allLeads %></span>
            <span>
              <a href="/leads" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="fa fa-briefcase"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Active Leads</span>
            <span class="info-box-number"> <%= activeLeads%> </span>
            <span>
              <a href="/leads/Active" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"
            ><i class="fa fa-forward"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Follow Up Leads</span>
            <span class="info-box-number"><%= followUpLeads %></span>
            <span>
              <a href="/leads/Follow-Up" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1"
            ><i class="fas fa-bar-chart"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">In-Progress Leads</span>
            <span class="info-box-number"><%= inProcessLeads %></span>
            <span>
              <a href="/leads/In-Process" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"
            ><i class="fa fa-tasks"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Completed Leads</span>
            <span class="info-box-number"><%= completedLeads %></span>
            <span>
              <a href="/leads/Completed" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"
            ><i class="fa fa-hands-helping"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Closed Leads</span>
            <span class="info-box-number"><%= closedLead %></span>
            <span>
              <a href="/leads/Closed" class="uppercase">View More</a>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>
    </div>

    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Latest Added Leads</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="remove"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Lead ID</th>
                    <th>Customer Name</th>
                    <th>Customer Email</th>
                    <th>Customer Contact</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(typeof latestAddedLeads !== 'undefined' &&
                  latestAddedLeads.length > 0) { %> <%
                  latestAddedLeads.forEach(function (lead) { %>
                  <tr>
                    <td><%= lead.lead_id %></td>
                    <td><%= lead.customer_name %></td>
                    <td><%= lead.customer_email %></td>
                    <td><%= lead.customer_phone%></td>
                    <td>
                      <span class="badge badge-primary"
                        ><%= lead.lead_status %></span
                      >
                    </td>
                  </tr>
                  <% }) %> <% } else { %>
                  <h5>No Leads found for last week</h5>
                  <% } %>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <a href="/leads" class="btn btn-sm btn-secondary float-right"
              >View All Leads</a
            >
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">
        <!-- PRODUCT LIST -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Recently Added Products</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="remove"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <ul class="products-list product-list-in-card pl-2 pr-2">
              <li class="item">
                <div class="product-img">
                  <img
                    src="newAssets/dist/img/default-150x150.png"
                    alt="Product Image"
                    class="img-size-50"
                  />
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title"
                    >Samsung TV
                    <span class="badge badge-warning float-right"
                      >$1800</span
                    ></a
                  >
                  <span class="product-description">
                    Samsung 32" 1080p 60Hz LED Smart HDTV.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img
                    src="newAssets/dist/img/default-150x150.png"
                    alt="Product Image"
                    class="img-size-50"
                  />
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title"
                    >Bicycle
                    <span class="badge badge-info float-right">$700</span></a
                  >
                  <span class="product-description">
                    26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img
                    src="newAssets/dist/img/default-150x150.png"
                    alt="Product Image"
                    class="img-size-50"
                  />
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    Xbox One
                    <span class="badge badge-danger float-right"> $350 </span>
                  </a>
                  <span class="product-description">
                    Xbox One Console Bundle with Halo Master Chief Collection.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img
                    src="newAssets/dist/img/default-150x150.png"
                    alt="Product Image"
                    class="img-size-50"
                  />
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title"
                    >PlayStation 4
                    <span class="badge badge-success float-right">$399</span></a
                  >
                  <span class="product-description">
                    PlayStation 4 500GB Console (PS4)
                  </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
            <a href="javascript:void(0)" class="uppercase">View All Products</a>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/. container-fluid -->
</section>
