<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/newAssets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"
/>
<style>
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  a {
    margin-left: 10px;
  }
  .action {
    width: 120px;
  }

  /* right-panel css */
  .right-panel {
    position: fixed;
    right: 0;
    top: 57px;
    min-height: 100vh;
    background-color: #343a40;
    width: 40em;
    box-shadow: -6px 0 10px #00000096;
    right: -50em;
    transition: 0.5s;
    z-index: 999;
  }
  .right-panel.open {
    right: 0;
  }
  .close-panel {
    cursor: pointer;
    font-size: 1.4rem;
  }
  .panel-body {
    padding: 1rem;
  }

  /* Rounded border */
  .task-detail.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Action Items List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Action Items List</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Action Items List</h3>
            <a href="/actionItems/create" class="btn-sm btn-primary float-right"
              ><i class="fa fa-plus"></i> Add New Action Items</a
            >
          </div>
          <% if(messages.error) { %>
          <div class="alert alert-danger" role="alert">
            <%= messages.error %>
          </div>
          <% } %> <% if(messages.success) { %>
          <div class="alert alert-success" role="alert">
            <%= messages.success %>
          </div>
          <% } %>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Type Of Work</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Predecessor</th>
                  <th>Created By</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% if(typeof actionItems !== 'undefined' && actionItems.length >
                0) { %> <% actionItems.forEach(function(actionItem) { %>
                <tr>
                  <td><%= actionItem.action_item_name %></td>
                  <td><%= actionItem.action_item_type %></td>
                  <td>
                    <% switch(actionItem.action_item_status) { case 'Active' :%>
                    <span class="badge badge-primary"
                      ><%= actionItem.action_item_status %></span
                    >

                    <% break; case 'In-Process' :%>
                    <span class="badge badge-info"
                      ><%= actionItem.action_item_status %></span
                    >

                    <% break; case 'Completed' :%>
                    <span class="badge badge-success"
                      ><%= actionItem.action_item_status %></span
                    >

                    <% break; case 'Closed' :%>
                    <span class="badge badge-danger"
                      ><%= actionItem.action_item_status %></span
                    >
                    <% break;} %>
                  </td>
                  <td><%= actionItem.action_item_type_of_work %></td>
                  <td>
                    <%= new
                    Date(actionItem.action_item_start_date).toDateString() %>
                  </td>
                  <td>
                    <%= new Date(actionItem.action_item_end_date).toDateString()
                    %>
                  </td>
                  <td><%= actionItem.action_item_predecessor %></td>
                  <td><%= actionItem.action_item_created_by.full_name %></td>
                  <td>
                    <a
                      class="btn-sm btn-primary view panel-trigger"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Edit Task"
                      data-id="<%= actionItem._id %>"
                      ><i class="fa fa-edit"></i
                    ></a>
                    <a
                      href="/actionItem/edit/<%= actionItem._id %>"
                      class="btn-sm btn-primary"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Edit Task"
                      ><i class="fa fa-edit"></i
                    ></a>
                    <a
                      href="#"
                      value="actionItem/delete/<%= actionItem._id %>"
                      class="btn-sm btn-danger delete"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Delete User"
                    >
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>

                <% }) %> <%} %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<!--   right-panel html  -->
<!-- <button class="btn btn-primary panel-trigger">Add</button> -->
<div class="right-panel">
  <div class="panel-head p-2 pr-4 text-right">
    <i class="fa fa-times close-panel"></i>
  </div>
  <div class="panel-body">
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="btn-sm view ml-0" id="list"><i class="fa fa-tasks"></i></a>
          <a class="btn-sm view ml-0"><i class="fa fa-trash"></i></a>
          <a class="btn-sm view ml-0"><i class="fa fa-eye"></i></a>
        </div>
        <div class="card-header">
          <h3 class="card-title">Tasks List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <table class="table table-sm">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Task</th>
                <th>Progress</th>
                <th style="width: 40px">Label</th>
              </tr>
            </thead>
            <tbody id="task-list"></tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="/newAssets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/newAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/newAssets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/newAssets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/newAssets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/newAssets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/newAssets/plugins/jszip/jszip.min.js"></script>
    <script src="/newAssets/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/newAssets/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/newAssets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/newAssets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/newAssets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/newAssets/dist/js/adminlte.min.js"></script>
    <script src="/newAssets/js/actionItems/actionItem.js"></script>
    <script>
      $(function () {
        $("#example1")
          .DataTable({
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            // buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
          })
          .buttons()
          .container()
          .appendTo("#example1_wrapper .col-md-6:eq(0)");
        $("#example2").DataTable({
          paging: true,
          lengthChange: false,
          searching: false,
          ordering: true,
          info: true,
          autoWidth: false,
          responsive: true,
        });
      });
      /* right-panel js */
    </script>
  </div>
</div>
